.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(1.6rem, 4vw, 10rem);
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
    color: #d4af37; /* Dorado clásico */

}

.char {
  display: inline-block;
}

